@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

::selection {
  background: #7c4dff;
  color: #ffffff;
}

body#popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  background-color: #1e1e1e;
  color: #ddd;
  font-family: "Inter", sans-serif;
  height: 400px;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header h2 {
  font-size: 16px;
  color: #ccc;
  margin: 0;
}

#settings {
  display: flex;
  align-items: center;
}

#settings img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#settings img:hover {
  opacity: 1;
}

.card {
  background: rgba(40, 40, 40, 0.8);
  border: 1px solid rgba(80, 80, 80, 0.6);
  border-radius: 8px;
  padding: 12px 14px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.card h3 {
  font-size: 14px;
  color: #aaa;
  margin: 16px 0 8px 0;
}

.card p {
  font-size: 13px;
  color: #ccc;
  margin: 0;
}

.button {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button.primary {
  background-color: #7c4dff;
  color: #fff;
  border: none;
}

.button.primary:hover {
  background-color: #906bff;
}

.button.secondary {
  background-color: transparent;
  color: #b3aaff;
  border: 1px solid #3a3a3a;
}

.button.secondary:hover {
  background-color: rgba(124, 77, 255, 0.1);
}

.alt-secondary {
  border: #7c4dff solid 1px !important;
  color: #ccc !important;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

.dangerSnoozed {
  border: #d64545 solid 1px !important;
}

.dangerSnoozed:hover {
  border: #e05a5a solid 1px !important;
  background-color: rgba(255, 77, 77, 0.1) !important;
}

.alt-secondary > img {
  height: 1em;
  width: auto;
}

.button.danger {
  background-color: #d64545 !important;
}

.button.danger:hover {
  background-color: #e05a5a !important;
}

.subheader {
  display: flex;
  align-items: center;
  gap: 8px;
}
