@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --deprompt-reminder-css-loaded: "yes";
}
::selection {
  background: #7c4dff;
  color: #ffffff;
}

.reminder-container {
  position: fixed;
  left: auto;
  top: 60px;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2147483647;
  pointer-events: auto;
  width: 360px;
  height: 200px;

  font-family: "Inter", sans-serif;
  background-color: #1e1e1e;
  border-radius: 24px;
  padding: 24px;

  color: #ffffff;
  border-color: gray 1px solid;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.45);
}

#close-reminder-btn {
  background-color: #7c4dff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, transform 0.15s;
  width: 100px;
  height: 40px;
  margin: 10px;
}

#close-reminder-btn:hover {
  background-color: #8e63ff;
  transform: translateY(-1px);
}
